<div class="wrapper">
  <div class="grid-main">

    <div class="card-main">
    </div>

    <div class="brand">
      <img src="../../assets/AMSTRAD_Logo.png" alt="">
    </div>

    <div class="details">
      <p class="p1">ASSURED GIFT</p>
      <p class="p2">10YEAR WARRENTY <br>(COMPRESSOR ONLY) </p>
      <p class="p3">AMSTER INVERTER <br> DOCTOR AC</p>
    </div>

    <div class="vanchi">
      <img src="../assets/toppng.com-onam-265x390.png" alt="">
    </div>

    <div class="ac">
      <img src="../../assets/amstrad-am20pi3-split-air-conditioner-1-5-ton-3-star-inverter--500x500.png" alt="">
    </div>

    <div class="emi">
      <p class="emiat">EMI AT</p>
      <p class="rs">$2999</p>
    </div>

    <div class="off">
      <img src="../assets/noun_Badge_94994.svg" alt="">
    </div>

  </div>

</div>
