<div class="wrapper">
    <div class="grid-main">
  
      <div class="card-main">
      </div>
  
      <div class="brand">
        <img src="../../assets/IFB.png" alt="">
      </div>
  
      <div class="details">
        <p class="spec">8kg f/l<br> Washing Machine</p>
      </div>
  
      <div class="vanchi">
        <img src="../assets/toppng.com-onam-265x390.png" alt="">
      </div>
  
      <div class="wm">
        <img src="../../assets/ifb8kg-removebg-preview.png" alt="">
      </div>
  
      <div class="emi">
        <p class="emiat">EMI AT</p>
        <p class="rs">$2999</p>
      </div>
  
      <div class="off">
        <img src="../assets/noun_Badge_94994.svg" alt="">
      </div>
  
    </div>
  
  </div>
