@import '../laptop/laptop.component.scss';
.wrapper {
    .grid-main {
       .details{
        grid-column: 7/13;  
        grid-row:10/14 ;      
        text-align: right;
          .spec{
            font-size: 12px;
            font-weight: 700;
          }  
       }
       .wm{                  
        grid-column: 7/15;        
        grid-row:1/10 ;    
        box-shadow: 0 20px 20px rgba(0,0,0,0.25);   
       }

    }

}  
