<div class="wrapper" >
    <div class="grid-main" *ngFor="let ref of fridges">
  
      <div class="card-main">
      </div>
  
      <div class="brand">
        <img [src]="ref.brand" alt="">
      </div>
  
      <div class="details">
        <p class="ltr">{{ ref.ltr }}</p>
        <p class="door">{{ ref.cat }}</p>
      </div>
  
      <div class="vanchi">
        <img src="../assets/toppng.com-onam-265x390.png" alt="">
      </div>
  
      <div class="ref">
        <img [src]="ref.img" alt="">
      </div>
  
      <div class="emi">
        <p class="emiat">EMI AT</p>
        <p class="rs">&#8377;{{ref.emi}}</p>
      </div>
  
      <div class="off">
      
      </div>
      <div class="off_value">
        <p>{{ ref.discount}} <br>OFF</p>
      </div>
  
    </div>
  
  </div>
