*{
    margin: 0;
    padding: 0;
}
.wrapper {
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
    grid-auto-rows: 350px;
    grid-gap: 2em 2.5em;
    .grid-main {
      border-radius: 16px;
      display: grid;
      grid-template-columns:repeat(12, 1fr);
      grid-template-rows:repeat(11, 1fr);
      place-items: center;
      font-family: 'Lato', sans-serif;
      .card-main{
        grid-column: 2/13;
        grid-row:3/12 ;
        background:linear-gradient(to bottom left,rgba(231, 225, 65, 1),rgba(173, 152, 8, 1));
        border-radius: 12px;
        width: 100%;
        height: 100%;
       }
       .brand{
        grid-column: 2/6;
        grid-row:3;
       }
       .details{
        grid-column: 7/13;
        grid-row:10/12 ;
        .ltr{
          font-size: 12px;
          font-weight: 300;
    
        }
        .door{
          font-size: 12px;
          font-weight: 700;
        }
       }
       .vanchi{
        grid-column: 2/7;
        grid-row:10/12;
      ;
       }
       .off{
        grid-column: 1/4;
        grid-row:4/7 ;
        padding-right: 15px;
        background-image: url(../../assets/noun_Badge_94994.svg);
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
       }
       .off_value{
        grid-column: 1/4;
        grid-row:4/7 ;
        padding-bottom: 18px;
        font-size: 15px;
        font-weight: 700;
        color: white;
        background-repeat: no-repeat;
        background-size: 100%;
       }

       .emi{
         grid-column: 2/6;
         grid-row:8/10 ;
         .emiat{
           font-size: 15px;
           font-weight: 100;
         }
         .rs{
           font-size: 20px;
           font-weight: 700;
         }
       }
       .ref{
        grid-column: 7/12;
        grid-row:1/10 ;
        box-shadow: 0 10px 10px rgba(0,0,0,0.80); 
        height: 250px;
        width: 100px;
       }

    }

}  
img{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 700px) {
  .wrapper{
    .grid-main{
      .off_value{
        padding-bottom: 25px;
       }
    }
  }
}


