* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  grid-template-rows: 1.25fr 2fr 2vh 0.75fr 0.8fr;
  width: 100%;
  .banner-img {
    grid-row: 1;
    grid-column: 2;
    img {
      width: 130%;
      height: 130%;
    }
  }

  .poster {
    grid-row: 2;
    grid-column: 1/4;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .banner-spacer {
    grid-row: 3;
    grid-column: 2;
  }

  .banner-product-name {
    grid-row: 5;
    grid-column: 2;
    color: #ffffff;
    p{
      font-size: 2.7vh;
      font-weight: bold;
    }
  }

  .nav {
    grid-row: 4;
    grid-column: 1/6;
    background-color: #ffffff;
  }
}

.bkgc-red {
  background-color: #e61d27;
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 1024px) {
  .wrapper {
    max-height: 90vh;
    .poster{
      height: 50vh !important;
      padding: 0 9vw;
    }
    .banner-img {
      height: 20vh;
      img {
        width: 65%;
        height: 130%;
      }
    }
  }
}
