*{
    margin: 0;
    padding: 0;
}
.wrapper {
    padding: 3em;
    display: grid;
    // grid-template-columns: 280px;                                //280px
    // grid-auto-rows: 300px;                                       //300px
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 2em 2.5em;
    .grid-main {
      border-radius: 16px;
      display: grid;
      grid-template-columns:repeat(14, 1fr);  
      grid-template-rows:repeat(12, 1fr);  
      place-items: center;
      font-family: 'Lato', sans-serif;
      .card-main{
        grid-column: 2/13;
        grid-row:1/13 ;                
        background:linear-gradient(to bottom left,rgba(231, 225, 65, 1),rgba(173, 152, 8, 1));
        border-radius: 12px;
        width: 100%;
        height: 100%;
       }
       .brand{
        padding-top: 5px;
        grid-column: 2/6; //1
        grid-row:1;
       }
       .details{
        grid-column: 10/13;
        grid-row:8/11 ;
        text-align: right;
          .mrp{
            font-size: 14px;
            font-weight: 300;
          }
         .rs{
            font-size: 19px;
            font-weight: 700;
          }
       }  
       .spec-main{
        grid-column: 6/14;
        grid-row:10/12 ;
        text-align: right;
          .spec{
            font-size: 12px;
            font-weight: 700;
          }  
        }
       
       .vanchi{
        grid-column: 2/7;
        grid-row:10/12;
      ;
       }
       .off{
        grid-column: 1/4;
        grid-row:4/7 ;
        padding-right: 15px;
        img{
          height: 59px;
          width: 59px;
        }
       }
       .emi{
         grid-column: 2/6;
         grid-row:7/10 ;
         .emiat{
           font-size: 15px;
           font-weight: 100;
         }
         .rs{
           font-size: 20px;
           font-weight: 700;
         }
       }
       .laptop{
        grid-column: 4/15;   
        grid-row:1/9 ;     
        // box-shadow: 0 10px 10px rgba(0,0,0,0.22); 
       }

    }

}  
img{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}