<div class="wrapper">
  <div class="grid-main">

    <div class="card-main">
    </div>

    <div class="brand">
      <img src="../../assets/sony_logo_PNG2.png" alt="">
    </div>

    <div class="details">
      <p class="p1">ASSURED GIFT</p>
      <p class="p2">3YEAR WARRENTY </p>
      <p class="p3">SONY ANDROID TV</p>
    </div>

    <div class="vanchi">
      <img src="../assets/toppng.com-onam-265x390.png" alt="">
    </div>

    <div class="tv">
      <img src="../../assets/sony-removebg-preview.png" alt="">
    </div>

    <div class="emi">
      <p class="emiat">EMI AT</p>
      <p class="rs">&#8377;2999</p>
    </div>

    <div class="off">
      <img src="../assets/noun_Badge_94994.svg" alt="">
    </div>

  </div>

</div>
